<div class="container">
  <div class="stats">
    <div>Total Bookmarks {{ bookmarkService.bookmarks.length }}</div>
    <div>Movies {{ bookmarkService.types["movie"].length }}</div>
    <div>Series {{ bookmarkService.types["series"].length  }}</div>
    <div>Episodes {{ bookmarkService.types["episode"].length  }}</div>
  </div>
  <div class="progress">
    <div
      class="progress-bar movie"
      role="progressbar"
      [ngStyle]="setStyle(bookmarkService.types.movie.length)"
      aria-valuenow="30"
      aria-valuemin="0"
      aria-valuemax="100"
    >Movie</div>
    <div
      class="progress-bar episode"
      role="progressbar"
      [ngStyle]="setStyle(bookmarkService.types.series.length)"
      aria-valuenow="20"
      aria-valuemin="0"
      aria-valuemax="100"
    >Episode</div>
    <div
      class="progress-bar series"
      role="progressbar"
      [ngStyle]="setStyle(bookmarkService.types.episode.length)"
      aria-valuenow="20"
      aria-valuemin="0"
      aria-valuemax="100"
    >Series</div>
  </div>
  <div *ngIf="bookmarkService.bookmarks.length" class="row">
    <div
      class="col-md-3 col-sm-6"
      *ngFor="let movie of bookmarkService.bookmarks"
    >
      <nb-card class="card">
        <nb-card-header>{{ movie.Title }}</nb-card-header>
        <nb-card-body class="card-body">
          <img src="{{ movie.Poster }}" class="img-frame" />
        </nb-card-body>
        <nb-card-footer class="card-footer row">
          <h6>Type: {{ movie.Type | titlecase}}</h6>
          <h6>Year: {{ movie.Year }}</h6>
          <div class="mark-icon col-6">
            <nb-icon
              icon="star"
              (click)="bookmarkService.toggleBookmarks(movie)"
              [class.marked]="movie.Bookmark == true"
            ></nb-icon>
          </div>
        </nb-card-footer>
      </nb-card>
    </div>
  </div>
</div>
