nb-layout-header {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}
h1 {
    margin-left: 10vw
}
.button-group {
    display: flex;
    width: fit-content;
    margin-left: auto;
    margin-right: 10vw;
}
#button {
    width: 20vw;
    max-width: fit-content;
    margin-left: 20px; 

}
