<div class="container">
  <!-- Search Feature -->
  <div class="phrase">
    <h3>Search Movie by Name</h3>
  </div>
  <div class="search-box">
    <nb-form-field>
      <nb-icon nbPrefix icon="search" pack="eva"></nb-icon>
      <input
        nbInput
        type="search"
        id="search"
        [(ngModel)]="title"
        placeholder="Search"
        fullWidth
        status="danger"
        fieldSize="large"
      />
    </nb-form-field>
    <button
      id="button"
      nbButton
      status="danger"
      (click)="movieService.getMovies(title)"
    >
      <h6>Search</h6>
    </button>
  </div>
  <!-- Render search movie -->
  <app-collection [movies]="movieService.info.movies"></app-collection>
</div>
