<!-- //Poster, Title, Type, Year, imdbID -->
<div class="container">
  <!-- <div class = "row justify-content-center" > -->
  <div class="search-box">
    <nb-form-field>
      <nb-icon nbPrefix icon="search" pack="eva"></nb-icon>
      <input
        nbInput
        type="search"
        id="search"
        [(ngModel)]="title"
        placeholder="Search"
        fullWidth status="danger"
        fieldSize="large"
      />
    </nb-form-field>
    <button id = "button" nbButton status="danger" (click)="getMovies()"><h6>
      Search
    </h6></button>
  </div>
  <!-- </div> -->
  <app-collection [movies]="movies"></app-collection>
</div>
